:root{
  --primary : #DAC0A3;
  --secondary : #F8F0E5;
  --tertiary : #FFDBC3;
  --grey : #F5F5F5;
}

body {
  font-family: sans-serif;
  /* since i have removed the bg of the model and clipped the ground, body bg applies to all */
  background-color: black;
  color: white;
  overflow: hidden;
  overflow-x: hidden;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--primary);
}
::-webkit-scrollbar{
  width: 3px;
}
::-webkit-scrollbar-thumb{
  border-radius: 2px;
  background-color: var(--primary);
}
.loader{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* when i made the position to be absolute and increase the z index
    it automatically lays on the body element */
  z-index: 10;
  color: black;
  background-color: var(--primary);
  font-size: 12px;
  gap: 2rem;
}

.progress{
  transform: scaleX(0);
  position: absolute;
  top: 60%;
  width: 50%;
  height: 1px;
  background-color: red;
  margin: 0 5%;
  transform-origin: left;
  transition: transform 1s;
}

main{

  /* this contain the main content of the page but height is flexible */
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  /* scroll snap to make move to animated clip faster */
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh);
}

section span{
  font-size: 60px;
  color: var(--primary);
  letter-spacing: 2px;
  font-weight: bolder;
}
section{
  /* each has height of viewport because of the styling aim */
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
section div{
  width: 50%;
}
.first div, .fifth div{
  margin-left: 10%;
  margin-top: 6%;
  margin-bottom: auto;
  margin-right: auto;
}
.first nav.menu {
  position: fixed;
  height: 60px;
  display: flex;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: rgba(219, 218, 218, 0.089);
}
.first nav.resp {
  display: none;
}
.first nav label{
  margin-left: 10%;
  color: var(--tertiary);
}
.first nav ul{
  display: flex;
  gap: 3rem;
  margin-right: 10%;
}
.first nav ul li{
  list-style: none;
}
.first nav ul li a{
  background: none;
}
.first nav.resp span.icon:hover{
  cursor: pointer;
}
a{
  text-decoration: none;
  background: var(--primary);
  padding: 10px 20px;
  color: var(--grey);
  cursor: pointer;
}
section  h1{
  font-size: 40px;
  color: var(--primary);

}
section p{
  font-size: 20px;
}
.second div{
  margin-bottom: auto;
  margin-top: 6%;
}
.third div{
  width: 35%;
  margin-left: auto;
  margin-right: 2%;
}
.fourth div{
  margin-right: auto;
  width: 35%;
  margin-left: 2%;
}
.sixth div{
  width: 40%;
  margin-left: auto;
  margin-right: 10%;
}
.first nav.cover{
  display: none;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
}
#webgi-canvas-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  /* pointer-events: none; */
}

@media (max-width: 800px) {
  .first nav.menu {
    display: none;
  }
  .first nav.resp {
    display: flex;
    position: fixed;
    top: 0;
    margin-top: 20px;
    background: rgba(219, 218, 218, 0.089);
    height: 50px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .first nav.cover{
    position: fixed;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: block;
    z-index: 40;
    padding-top: 10%;
    width: 100vw;
    top: 0;
    height: 100vh;
    display: none;

  }
  .first nav.cover ul {
    margin-top: 20vh;
    align-items: center;
    flex-direction: column;
    font-size: large;
  }
  .first nav.cover .close{
    float: right;
    margin-right: 10%;
  }
  .first nav.cover .close:hover{
    cursor: pointer;
  }

  .first nav.resp span.icon{
    margin-right: 10%;
    margin-top: 20px;
  }

 
  .first div{
    margin-top: 30%;
    margin-bottom: auto;
  }
  .third div{
    width: 80%;
    margin-top: 40%;
    margin-right: 10%;
    margin-bottom: auto;
  }
  .fourth div{
    width: 80%;
    margin-bottom: auto;
    margin-top: 10%;
    margin-left: 10%;
  }
  section span{
    font-size: 20px;
  }
  section div{
    width: 80%;
  }
  .sixth div{
    width: 80%;
    margin-bottom: auto;
    margin-top: 10%;
  }
  section p{
    font-size: 15px;
    word-spacing: 2px;
    margin-bottom: 20px;
  }
  .second div{
    margin-bottom: auto;
    margin-top: 30%;
  }
}
